@media only screen and (max-width: 600px){

    body {
        background-image: url("../images/swirl_pattern.png"); 
        background-size: 30%;
        background-repeat:repeat;
        
    }
    #box{
        width:100%;
        height:85px;
        background-color: #ffffff;
        position: relative;
        top:0px;
        left:0px;
        border-bottom:1px solid rgb(74,170,165);
        
        
    }
    #contentspace{
        align-content:center;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        padding: 10%;
        width:60%;
        margin-top: 75px;
        position:relative;
        Left: 10%;
        flex-direction: column;
        overflow: auto;
    }
    #name{
        text-align: center;
        background-color: rgb(74,170,165);
        color: #ffffff;
        padding: 12px;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 200px;
        Position: relative;
        left:125px;
        border-bottom: 1px solid #666666;
    }
    #ethanrocks{
        height: 250px;
        float: left;
        position: relative;
        top: -75px;
        margin:10px;
    
    }
    #pagetitle{
        font-size:24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: relative;
        Top:-60px;
        color: rgb(74,170,165);
        border-bottom:2px solid #666666;
        height: 40px;
        width: 100%;
    }
    .links{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        position:relative;
        float: left;
        font-size: 18px;
        left:100px;
    }
    #about{
        position: relative;
        float:right;
        border-right:1px solid #666666;
        padding-right: 10px;
    }
    #portfolio{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #contact{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #paragraph1{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 0px 0px 20px;
        margin: 10px;
        float: left;
        position:relative;
        top:-90px;
        left: -20px;
        font-size: 14px;
    
    }
    .portpics{
        height:150;
        width:150;
        grid-auto-flow: column;
        position: relative;
        top: -75px;
        
    }
    #placeimg{
        position: relative;
        float: left;
        margin: 30px;
    }
    #labels{
        background-color:#4AAAA5;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-top:10px;
        position: relative;
        height:30px;
        width: 200px;
        top:-60px;
        text-align: center;
    }
    #footer{
        /* height: 50px; */
        width: 110%;
        text-align: center;
        padding:10px;
        font-size: 10px;
        color: white;
        border-top: 8px solid #4aaaa5;
        background-color: #666666;
        position: fixed;
        bottom: 0px;
        left: -10px;
    }

  
}
