@media only screen and (min-width: 900px){

    body {
        background-image: url("../images/swirl_pattern.png"); 
        background-size: 30%;
        background-repeat:repeat;
        
    }
    #box{
        width:100%;
        height:45px;
        background-color: #ffffff;
        position: absolute;
        top:0px;
        left:0px;
        border-bottom:1px solid rgb(74,170,165);
        
    }
    #contentspace{
        align-content:center;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        padding: 10%;
        width:60%;
        margin-top: 75px;
        position:relative;
        Left: 10%;
        flex-direction: column;
        overflow: auto;
    }
    #name{
        text-align: center;
        background-color: rgb(74,170,165);
        padding: 12px;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 200px;
        Position: relative;
        left:125px;
        border-bottom: 1px solid #666666;
    }
    #ethanrocks{
        height: 250px;
        float: left;
        position: relative;
        top: -75px;
    
    }
    #pagetitle{
        font-size:24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: relative;
        Top:-100px;
        color: rgb(74,170,165);
        border-bottom:2px solid #666666;
        height: 40px;
        width: 100%;
    }
    .links{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        position:relative;
        float: right;
        font-size: 18px;
        top:-40px;
        
    }
    #about{
        position: relative;
        float:right;
        border-right:1px solid #666666;
        padding-right: 10px;
    }
    #portfolio{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #contact{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #paragraph1{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 20px;
        margin-left: 20px;
        float: unset;
        position:relative;
        top:-90px;
        left: 20px;
        font-size: 18px;
    
    }
    .portpics{
        height:150;
        width:150;
        grid-auto-flow: column
        columns: 2;
        position: relative;
        top: -75px;
        
    }
    #placeimg{
        position: relative;
        float: left;
        margin: 30px;
    }
    #labels{
        background-color:#4AAAA5;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-top:10px;
        position: relative;
        height:30px;
        width: 200px;
        top:-60px;
        text-align: center;
    }
    #footer{
        /* height: 50px; */
        width: 110%;
        text-align: center;
        padding:10px;
        font-size: 10px;
        color: white;
        border-top: 8px solid #4aaaa5;
        background-color: #666666;
        position: fixed;
        bottom: 0px;
        left: -10px;
    }
    .cform{
        position: relative;
        top: -75px;
    }
    input[type=text], select, textarea {
        widows: 100%;
        padding:12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing:border-box;
    }
    input[type=submit] {
        background-color:#4AAAA5;
        color:white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        margin:20px;
    }
    #formname{
        width: 100%;
        margin: 10px 0px 20px 0px;
    }
    #email{
        width: 100%;
        margin: 10px 0px 20px 0px;
    }
    textarea{
        width: 100%;
        margin: 10px 0px 20px 0px
    }
    a:active{
        color:black;
        text-decoration: none;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    a:link{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color:#4AAAA5;
        font-size: 20px;
        text-decoration: none;
    }
}


/* @media only screen and (max-width: 900px){

    body {
        background-image: url("../images/swirl_pattern.png"); 
        background-size: 30%;
        background-repeat:repeat;
        
    }
    #box{
        width:100%;
        height:45px;
        background-color: #ff0000;
        position: absolute;
        top:0px;
        left:0px;
        border-bottom:1px solid rgb(74,170,165);
        
    }
    #contentspace{
        align-content:center;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        padding: 10%;
        width:60%;
        margin-top: 75px;
        position:relative;
        Left: 10%;
        flex-direction: column;
        overflow: auto;
    }
    #name{
        text-align: center;
        background-color: rgb(74,170,165);
        padding: 12px;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 200px;
        Position: relative;
        left:125px;
        border-bottom: 1px solid #666666;
    }
    #ethanrocks{
        height: 250px;
        float: left;
        position: relative;
        top: -75px;
    
    }
    #pagetitle{
        font-size:24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: relative;
        Top:-100px;
        color: rgb(74,170,165);
        border-bottom:2px solid #666666;
        height: 40px;
        width: 100%;
    }
    .links{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        position:relative;
        float: right;
        font-size: 18px;
        top:-40px;
        
    }
    #about{
        position: relative;
        float:right;
        border-right:1px solid #666666;
        padding-right: 10px;
    }
    #portfolio{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #contact{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #paragraph1{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 20px;
        margin-left: 20px;
        float: unset;
        position:relative;
        top:-90px;
        left: 20px;
        font-size: 18px;
    
    }
    .portpics{
        height:150;
        width:150;
        grid-auto-flow: column
        columns: 2;
        position: relative;
        top: -75px;
        
    }
    #placeimg{
        position: relative;
        float: left;
        margin: 30px;
    }
    #labels{
        background-color:#4AAAA5;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-top:10px;
        position: relative;
        height:30px;
        width: 200px;
        top:-60px;
        text-align: center;
    }
    #footer{
        width: 110%;
        text-align: center;
        padding:10px;
        font-size: 10px;
        color: white;
        border-top: 8px solid #4aaaa5;
        background-color: #666666;
        position: fixed;
        bottom: 0px;
        left: -10px;
    }
    .cform{
        position: relative;
        top: -75px;
    }
    input[type=text], select, textarea {
        widows: 100%;
        padding:12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing:border-box;
    }
    input[type=submit] {
        background-color:#4AAAA5;
        color:white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        margin:20px;
    }
    #formname{
        width: 100%;
        margin: 10px 0px 20px 0px;
    }
    #email{
        width: 100%;
        margin: 10px 0px 20px 0px;
    }
    textarea{
        width: 100%;
        margin: 10px 0px 20px 0px
    }
    a:active{
        color:black;
        text-decoration: none;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    a:link{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color:#4AAAA5;
        font-size: 20px;
        text-decoration: none;
    }
}

@media only screen and (max-width: 550px){

    body {
        background-image: url("../images/swirl_pattern.png"); 
        background-size: 30%;
        background-repeat:repeat;
        
    }
    #box{
        width:100%;
        height:45px;
        background-color: #001aff;
        position: absolute;
        top:0px;
        left:0px;
        border-bottom:1px solid rgb(74,170,165);
        
    }
    #contentspace{
        align-content:center;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        padding: 10%;
        width:60%;
        margin-top: 75px;
        position:relative;
        Left: 10%;
        flex-direction: column;
        overflow: auto;
    }
    #name{
        text-align: center;
        background-color: rgb(74,170,165);
        padding: 12px;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 200px;
        Position: relative;
        left:125px;
        border-bottom: 1px solid #666666;
    }
    #ethanrocks{
        height: 250px;
        float: left;
        position: relative;
        top: -75px;
    
    }
    #pagetitle{
        font-size:24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: relative;
        Top:-100px;
        color: rgb(74,170,165);
        border-bottom:2px solid #666666;
        height: 40px;
        width: 100%;
    }
    .links{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        position:relative;
        float: right;
        font-size: 18px;
        top:-40px;
        
    }
    #about{
        position: relative;
        float:right;
        border-right:1px solid #666666;
        padding-right: 10px;
    }
    #portfolio{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #contact{
        position: relative;
        float: right;
        border-right:1px solid #666666;
        padding-left:10px;
        padding-right:10px;
    }
    #paragraph1{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 20px;
        margin-left: 20px;
        float: unset;
        position:relative;
        top:-90px;
        left: 20px;
        font-size: 18px;
    
    }
    .portpics{
        height:150;
        width:150;
        grid-auto-flow: column
        columns: 2;
        position: relative;
        top: -75px;
        
    }
    #placeimg{
        position: relative;
        float: left;
        margin: 30px;
    }
    #labels{
        background-color:#4AAAA5;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-top:10px;
        position: relative;
        height:30px;
        width: 200px;
        top:-60px;
        text-align: center;
    }
    #footer{
        width: 110%;
        text-align: center;
        padding:10px;
        font-size: 10px;
        color: white;
        border-top: 8px solid #4aaaa5;
        background-color: #666666;
        position: fixed;
        bottom: 0px;
        left: -10px;
    }
    .cform{
        position: relative;
        top: -75px;
    }
    input[type=text], select, textarea {
        widows: 100%;
        padding:12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing:border-box;
    }
    input[type=submit] {
        background-color:#4AAAA5;
        color:white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        margin:20px;
    }
    #formname{
        width: 100%;
        margin: 10px 0px 20px 0px;
    }
    #email{
        width: 100%;
        margin: 10px 0px 20px 0px;
    }
    textarea{
        width: 100%;
        margin: 10px 0px 20px 0px
    }
    a:active{
        color:black;
        text-decoration: none;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    a:link{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color:#4AAAA5;
        font-size: 20px;
        text-decoration: none;
    }
} */